<div class="card">
  <div class="card-body">
  <form action="" method="POST">
      <h4 class="card-title">User Permissions</h4>
      <div class="row">
          <div class="col-md-6">
            <h6 class="card-title">All Permissions</h6>
            <div id="dragula-left" class="py-2">
              ${allperms}
             
            </div>
          </div>
          <div class="col-md-6">
            <h6 class="card-title">User Permissions</h6>
            <div id="dragula-right" class="py-2">
               ${userperms}
            </div>
          </div>
        </div>
        <br/>
        <button type="submit" name="action" value="perms" class="btn btn-inverse-primary btn-fw">Submit</button>
        </form>
</div>
</div>