.page-header{
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
.content-row{
    margin: 5%;
    display: block;
}

.department-image {
    width: 200px;
    height:200px;
    display: block;
    margin: 0 auto;
    margin-top:10px;
}

.jobs-panels
{
    margin: 0 auto;
    margin: 3%;
}

.career-panel
{
    margin-bottom:4%;
}