/* Layouts */
/* Animation Mixins */
@-webkit-keyframes dropdownAnimation {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0); } }
@keyframes dropdownAnimation {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0); } }

.dropdownAnimation, .nav .nav-item.dropdown .navbar-dropdown,
.navbar-nav .nav-item.dropdown .navbar-dropdown {
  -webkit-animation-name: dropdownAnimation;
  animation-name: dropdownAnimation;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

.infinite-spin {
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@-webkit-keyframes menufadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes menufadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.menufadeInLeft {
  -webkit-animation-name: menufadeInLeft;
  animation-name: menufadeInLeft; }

.nav .nav-item,
.navbar-nav .nav-item {
  line-height: 1; }
  @media (max-width: 992px) {
    .nav .nav-item.dropdown,
    .navbar-nav .nav-item.dropdown {
      position: unset; } }
  .nav .nav-item.dropdown .dropdown-toggle:after,
  .navbar-nav .nav-item.dropdown .dropdown-toggle:after {
    border: none;
    content: "\F140";
    font: normal normal normal 28px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    vertical-align: 0; }
  .nav .nav-item.dropdown .count-indicator,
  .navbar-nav .nav-item.dropdown .count-indicator {
    position: relative;
    text-align: center; }
    .nav .nav-item.dropdown .count-indicator i,
    .navbar-nav .nav-item.dropdown .count-indicator i {
      font-size: 21px;
      margin-right: 0;
      vertical-align: middle; }
    .nav .nav-item.dropdown .count-indicator .count,
    .navbar-nav .nav-item.dropdown .count-indicator .count {
      position: absolute;
      left: 50%;
      width: 1rem;
      height: 1rem;
      border-radius: 100%;
      background: #FF0017;
      color: #ffffff;
      font-size: 11px;
      top: -1px;
      font-weight: 600;
      line-height: 1rem;
      border: none;
      text-align: center; }
    .nav .nav-item.dropdown .count-indicator:after,
    .navbar-nav .nav-item.dropdown .count-indicator:after {
      display: none; }
  .nav .nav-item.dropdown i,
  .navbar-nav .nav-item.dropdown i {
    margin-right: 0.5rem;
    vertical-align: middle; }
    .rtl .nav .nav-item.dropdown i, .rtl
    .navbar-nav .nav-item.dropdown i {
      margin-left: 0.5rem;
      margin-right: 0; }
  .nav .nav-item.dropdown .navbar-dropdown,
  .navbar-nav .nav-item.dropdown .navbar-dropdown {
    font-size: 0.9rem;
    margin-top: 0;
    position: absolute;
    right: 0;
    left: auto;
    border: 1px solid rgba(182, 182, 182, 0.1);
    padding: 0 0 20px;
    min-width: 100%;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
    overflow-x: hidden;
    max-height: 300px;
    overflow-y: auto;
    overflow: hidden; }
    .rtl .nav .nav-item.dropdown .navbar-dropdown, .rtl
    .navbar-nav .nav-item.dropdown .navbar-dropdown {
      right: auto;
      left: 0; }
    @media (max-width: 991px) {
      .nav .nav-item.dropdown .navbar-dropdown,
      .navbar-nav .nav-item.dropdown .navbar-dropdown {
        right: -85px; } }
    .nav .nav-item.dropdown .navbar-dropdown.dropdown-left,
    .navbar-nav .nav-item.dropdown .navbar-dropdown.dropdown-left {
      left: 0;
      right: auto; }
    .nav .nav-item.dropdown .navbar-dropdown .badge,
    .navbar-nav .nav-item.dropdown .navbar-dropdown .badge {
      margin-left: 2.5rem; }
      .rtl .nav .nav-item.dropdown .navbar-dropdown .badge, .rtl
      .navbar-nav .nav-item.dropdown .navbar-dropdown .badge {
        margin-left: 0;
        margin-right: 1.25rem; }
      @media (max-width: 991px) {
        .nav .nav-item.dropdown .navbar-dropdown .badge,
        .navbar-nav .nav-item.dropdown .navbar-dropdown .badge {
          margin-right: 0.5rem; }
          .rtl .nav .nav-item.dropdown .navbar-dropdown .badge, .rtl
          .navbar-nav .nav-item.dropdown .navbar-dropdown .badge {
            margin-left: 0.5rem;
            margin-right: 0; } }
    .nav .nav-item.dropdown .navbar-dropdown .dropdown-item,
    .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 0;
      padding: 7px 25px; }
      .nav .nav-item.dropdown .navbar-dropdown .dropdown-item i,
      .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item i {
        font-size: 24px; }
      .nav .nav-item.dropdown .navbar-dropdown .dropdown-item .ellipsis,
      .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .ellipsis {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis; }
      .nav .nav-item.dropdown .navbar-dropdown .dropdown-item .preview-icon,
      .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .preview-icon {
        width: 40px;
        height: 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
      .nav .nav-item.dropdown .navbar-dropdown .dropdown-item .small-text,
      .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item .small-text {
        font-size: 0.75rem; }
    .nav .nav-item.dropdown .navbar-dropdown .dropdown-divider,
    .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-divider {
      margin: 0; }

/* Navbar */
.navbar.default-layout {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(120deg, #556cdc, #128bfc, #18bef1);
  transition: background 0.25s ease;
  -webkit-transition: background 0.25s ease;
  -moz-transition: background 0.25s ease;
  -ms-transition: background 0.25s ease; }
  .navbar.default-layout .navbar-brand-wrapper {
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
    background: #ffffff;
    width: 255px;
    height: 63px; }
    .sidebar-dark .navbar.default-layout .navbar-brand-wrapper {
      background: #252C46; }
    .navbar.default-layout .navbar-brand-wrapper .navbar-brand {
      color: #ffffff;
      font-size: 1.5rem;
      line-height: 48px;
      margin-right: 0;
      padding: 0.25rem 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .navbar.default-layout .navbar-brand-wrapper .navbar-brand:active, .navbar.default-layout .navbar-brand-wrapper .navbar-brand:focus, .navbar.default-layout .navbar-brand-wrapper .navbar-brand:hover {
        color: #424546; }
      .navbar.default-layout .navbar-brand-wrapper .navbar-brand img {
        width: calc(255px - 130px);
        max-width: 100%;
        height: 28px;
        margin: auto;
        vertical-align: middle; }
    .navbar.default-layout .navbar-brand-wrapper .brand-logo-mini {
      display: none; }
      .navbar.default-layout .navbar-brand-wrapper .brand-logo-mini img {
        width: calc(70px - 50px);
        max-width: 100%;
        height: 28px;
        margin: auto; }
  .navbar.default-layout .navbar-menu-wrapper {
    transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -ms-transition: width 0.25s ease;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% - 255px);
    height: 63px; }
    @media (max-width: 991px) {
      .navbar.default-layout .navbar-menu-wrapper {
        width: auto; } }
    .navbar.default-layout .navbar-menu-wrapper .navbar-toggler {
      border: 0;
      color: inherit; }
      @media (max-width: 991px) {
        .navbar.default-layout .navbar-menu-wrapper .navbar-toggler:not(.navbar-toggler-right) {
          display: none; } }
    .navbar.default-layout .navbar-menu-wrapper .navbar-text {
      font-size: 0.875rem; }
    .navbar.default-layout .navbar-menu-wrapper .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item {
        margin-left: 1rem;
        margin-right: 1rem; }
        @media (max-width: 992px) {
          .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item {
            margin-left: 10px;
            margin-right: 0px; } }
        .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
          color: inherit;
          font-size: 12px;
          vertical-align: middle; }
          @media (max-width: 767px) {
            .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
              margin-left: 0.5rem;
              margin-right: 0.5rem; } }
          .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link i {
            font-size: 1.25rem;
            vertical-align: middle; }
          .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link .profile-text {
            margin-right: 15px; }
            .rtl .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link .profile-text {
              margin-right: 0;
              margin-left: 15px; }
          .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link.nav-btn .btn {
            background: rgba(255, 255, 255, 0.1);
            padding: 0.75rem 1rem;
            color: #ffffff; }
          .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link.nav-btn:after {
            display: none; }
        .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item.color-setting i {
          font-size: 25px;
          vertical-align: text-top; }
      @media (min-width: 992px) {
        .navbar.default-layout .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
          margin-left: auto; }
          .rtl .navbar.default-layout .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
            margin-left: 0;
            margin-right: auto; } }
      .navbar.default-layout .navbar-menu-wrapper .navbar-nav.header-links {
        height: 63px;
        padding-left: 2%; }
        .navbar.default-layout .navbar-menu-wrapper .navbar-nav.header-links .nav-item {
          margin: 0; }
          .navbar.default-layout .navbar-menu-wrapper .navbar-nav.header-links .nav-item .nav-link {
            height: 63px;
            font-size: 12px;
            padding: 16px 25px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
            .navbar.default-layout .navbar-menu-wrapper .navbar-nav.header-links .nav-item .nav-link i {
              margin-right: 10px;
              font-size: 21px; }
              .rtl .navbar.default-layout .navbar-menu-wrapper .navbar-nav.header-links .nav-item .nav-link i {
                margin-right: 0;
                margin-left: 10px; }
          .navbar.default-layout .navbar-menu-wrapper .navbar-nav.header-links .nav-item.active {
            background: rgba(255, 255, 255, 0.13); }
  .navbar.default-layout.navbar-danger, .navbar.default-layout.navbar-dark, .navbar.default-layout.navbar-primary, .navbar.default-layout.navbar-success, .navbar.default-layout.navbar-warning {
    background: #252C46; }
    .navbar.default-layout.navbar-danger .navbar-toggler, .navbar.default-layout.navbar-dark .navbar-toggler, .navbar.default-layout.navbar-primary .navbar-toggler, .navbar.default-layout.navbar-success .navbar-toggler, .navbar.default-layout.navbar-warning .navbar-toggler {
      color: #ffffff; }
    .navbar.default-layout.navbar-danger .count, .navbar.default-layout.navbar-dark .count, .navbar.default-layout.navbar-primary .count, .navbar.default-layout.navbar-success .count, .navbar.default-layout.navbar-warning .count {
      border-color: #252C46; }
  .navbar.default-layout.navbar-primary {
    background: #2196f3; }
    .navbar.default-layout.navbar-primary .navbar-menu-wrapper .navbar-nav .nav-item .nav-link.count-indicator .count {
      background: #ff6258;
      color: #ffffff; }
  .navbar.default-layout.navbar-success {
    background: #19d895; }
    .navbar.default-layout.navbar-success .navbar-menu-wrapper input {
      color: #ffffff; }
      .navbar.default-layout.navbar-success .navbar-menu-wrapper input::-webkit-input-placeholder {
        color: inherit; }
      .navbar.default-layout.navbar-success .navbar-menu-wrapper input:-moz-placeholder {
        color: inherit; }
      .navbar.default-layout.navbar-success .navbar-menu-wrapper input::-moz-placeholder {
        color: inherit; }
      .navbar.default-layout.navbar-success .navbar-menu-wrapper input:-ms-input-placeholder {
        color: inherit; }
    .navbar.default-layout.navbar-success .navbar-menu-wrapper .navbar-nav .nav-item .nav-link.count-indicator .count {
      background: #094f36;
      color: #ffffff;
      border-color: #19d895; }
      .navbar.default-layout.navbar-success .navbar-menu-wrapper .navbar-nav .nav-item .nav-link.count-indicator .count.bg-success {
        background: #0e7d56 !important; }
  .navbar.default-layout.navbar-danger {
    background: #ff6258; }
    .navbar.default-layout.navbar-danger .navbar-menu-wrapper input {
      color: #ffffff; }
      .navbar.default-layout.navbar-danger .navbar-menu-wrapper input::-webkit-input-placeholder {
        color: inherit; }
      .navbar.default-layout.navbar-danger .navbar-menu-wrapper input:-moz-placeholder {
        color: inherit; }
      .navbar.default-layout.navbar-danger .navbar-menu-wrapper input::-moz-placeholder {
        color: inherit; }
      .navbar.default-layout.navbar-danger .navbar-menu-wrapper input:-ms-input-placeholder {
        color: inherit; }
    .navbar.default-layout.navbar-danger .navbar-menu-wrapper .navbar-nav .nav-item .nav-link.count-indicator .count {
      background: #be0b00;
      color: #ffffff;
      border-color: #ff6258; }
      .navbar.default-layout.navbar-danger .navbar-menu-wrapper .navbar-nav .nav-item .nav-link.count-indicator .count.bg-danger {
        background: #f10e00 !important; }
  .navbar.default-layout.navbar-warning {
    background: #ffaf00; }
    .navbar.default-layout.navbar-warning .navbar-menu-wrapper input {
      color: #ffffff; }
      .navbar.default-layout.navbar-warning .navbar-menu-wrapper input::-webkit-input-placeholder {
        color: inherit; }
      .navbar.default-layout.navbar-warning .navbar-menu-wrapper input:-moz-placeholder {
        color: inherit; }
      .navbar.default-layout.navbar-warning .navbar-menu-wrapper input::-moz-placeholder {
        color: inherit; }
      .navbar.default-layout.navbar-warning .navbar-menu-wrapper input:-ms-input-placeholder {
        color: inherit; }
    .navbar.default-layout.navbar-warning .navbar-menu-wrapper .navbar-nav .nav-item .nav-link.count-indicator .count {
      background: #664600;
      color: #ffffff;
      border-color: #ffaf00; }
      .navbar.default-layout.navbar-warning .navbar-menu-wrapper .navbar-nav .nav-item .nav-link.count-indicator .count.bg-warning {
        background: #996900 !important; }
  .navbar.default-layout.navbar-pink {
    background: #E91E63; }
    .navbar.default-layout.navbar-pink a {
      color: #ffffff; }
    .navbar.default-layout.navbar-pink .navbar-toggler {
      color: #ffffff; }
    .navbar.default-layout.navbar-pink .navbar-brand-wrapper .navbar-brand {
      color: #ffffff; }
    .navbar.default-layout.navbar-pink .navbar-menu-wrapper input {
      color: #ffffff; }
      .navbar.default-layout.navbar-pink .navbar-menu-wrapper input::-webkit-input-placeholder {
        color: inherit; }
      .navbar.default-layout.navbar-pink .navbar-menu-wrapper input:-moz-placeholder {
        color: inherit; }
      .navbar.default-layout.navbar-pink .navbar-menu-wrapper input::-moz-placeholder {
        color: inherit; }
      .navbar.default-layout.navbar-pink .navbar-menu-wrapper input:-ms-input-placeholder {
        color: inherit; }
    .navbar.default-layout.navbar-pink .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
      color: #ffffff; }
      .navbar.default-layout.navbar-pink .navbar-menu-wrapper .navbar-nav .nav-item .nav-link.count-indicator .count {
        background: #640a29;
        color: #ffffff;
        border-color: #E91E63; }
        .navbar.default-layout.navbar-pink .navbar-menu-wrapper .navbar-nav .nav-item .nav-link.count-indicator .count.bg-pink {
          background: #930e3b !important; }
    .navbar.default-layout.navbar-pink .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item {
      color: #000; }
  .navbar.default-layout.navbar-info {
    background: #8862e0; }
    .navbar.default-layout.navbar-info a {
      color: #ffffff; }
    .navbar.default-layout.navbar-info .navbar-toggler {
      color: #ffffff; }
    .navbar.default-layout.navbar-info .navbar-menu-wrapper input {
      color: #ffffff; }
      .navbar.default-layout.navbar-info .navbar-menu-wrapper input::-webkit-input-placeholder {
        color: inherit; }
      .navbar.default-layout.navbar-info .navbar-menu-wrapper input:-moz-placeholder {
        color: inherit; }
      .navbar.default-layout.navbar-info .navbar-menu-wrapper input::-moz-placeholder {
        color: inherit; }
      .navbar.default-layout.navbar-info .navbar-menu-wrapper input:-ms-input-placeholder {
        color: inherit; }
    .navbar.default-layout.navbar-info .navbar-menu-wrapper .navbar-nav .nav-item {
      color: #ffffff; }
      .navbar.default-layout.navbar-info .navbar-menu-wrapper .navbar-nav .nav-item .nav-link.count-indicator .count {
        background: #3e1c8d;
        color: #ffffff;
        border-color: #8862e0; }
        .navbar.default-layout.navbar-info .navbar-menu-wrapper .navbar-nav .nav-item .nav-link.count-indicator .count.bg-info {
          background: #5124b8 !important; }
      .navbar.default-layout.navbar-info .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item {
        color: #000; }
  .navbar.default-layout.navbar-danger .navbar-brand-wrapper .navbar-brand, .navbar.default-layout.navbar-danger .navbar-brand-wrapper .navbar-brand, .navbar.default-layout.navbar-dark .navbar-brand-wrapper .navbar-brand, .navbar.default-layout.navbar-primary .navbar-brand-wrapper .navbar-brand, .navbar.default-layout.navbar-success .navbar-brand-wrapper .navbar-brand, .navbar.default-layout.navbar-warning .navbar-brand-wrapper .navbar-brand, .navbar.default-layout.navbar-primary .navbar-brand-wrapper .navbar-brand, .navbar.default-layout.navbar-success .navbar-brand-wrapper .navbar-brand, .navbar.default-layout.navbar-warning .navbar-brand-wrapper .navbar-brand {
    color: #ffffff; }
  .navbar.default-layout.navbar-danger .navbar-menu-wrapper .navbar-nav .nav-item .nav-link, .navbar.default-layout.navbar-danger .navbar-menu-wrapper .navbar-nav .nav-item .nav-link, .navbar.default-layout.navbar-dark .navbar-menu-wrapper .navbar-nav .nav-item .nav-link, .navbar.default-layout.navbar-primary .navbar-menu-wrapper .navbar-nav .nav-item .nav-link, .navbar.default-layout.navbar-success .navbar-menu-wrapper .navbar-nav .nav-item .nav-link, .navbar.default-layout.navbar-warning .navbar-menu-wrapper .navbar-nav .nav-item .nav-link, .navbar.default-layout.navbar-primary .navbar-menu-wrapper .navbar-nav .nav-item .nav-link, .navbar.default-layout.navbar-success .navbar-menu-wrapper .navbar-nav .nav-item .nav-link, .navbar.default-layout.navbar-warning .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
    color: #ffffff; }

@media (max-width: 991px) {
  .navbar.default-layout {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .navbar.default-layout .navbar-brand-wrapper {
      width: 75px; }
      .navbar.default-layout .navbar-brand-wrapper .brand-logo {
        display: none; }
      .navbar.default-layout .navbar-brand-wrapper .brand-logo-mini {
        display: inline-block; }
  .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0.5rem; } }

/* Sidebar */
.sidebar {
  min-height: calc(100vh - 63px);
  background: #ffffff;
  font-family: "Poppins", sans-serif;
  padding: 0;
  width: 255px;
  z-index: 11;
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease; }
  .sidebar .nav {
    overflow: hidden;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .sidebar .nav .nav-item .collapse {
      z-index: 999; }
    .sidebar .nav .nav-item .collapse.show,
    .sidebar .nav .nav-item .collapsing {
      background: #fafbfc; }
    .sidebar .nav .nav-item .nav-link {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 16px 35px;
      white-space: nowrap;
      height: 52px;
      color: #4a4a4a; }
      .sidebar .nav .nav-item .nav-link i.menu-arrow {
        margin-left: auto;
        margin-right: 0;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in; }
        .sidebar .nav .nav-item .nav-link i.menu-arrow:before {
          content: "\F142";
          font-family: "Material Design Icons";
          font-size: 18px;
          line-height: 1;
          font-style: normal;
          vertical-align: middle;
          color: rgba(74, 74, 74, 0.5); }
      .sidebar .nav .nav-item .nav-link[aria-expanded="true"] {
        background: #fafbfc; }
        .sidebar .nav .nav-item .nav-link[aria-expanded="true"] i.menu-arrow {
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }
      .sidebar .nav .nav-item .nav-link .menu-icon {
        margin-right: 1.25rem;
        width: 16px;
        line-height: 1;
        font-size: 18px;
        color: #979797; }
        .rtl .sidebar .nav .nav-item .nav-link .menu-icon {
          margin-right: 0;
          margin-left: 1.25rem; }
      .sidebar .nav .nav-item .nav-link .menu-title {
        color: inherit;
        display: inline-block;
        font-size: 12px;
        line-height: 1;
        vertical-align: middle; }
      .sidebar .nav .nav-item .nav-link .badge {
        margin-left: auto; }
      .sidebar .nav .nav-item .nav-link:hover {
        color: #3d3d3d; }
    .sidebar .nav .nav-item.active > .nav-link {
      color: #2196f3; }
      .sidebar .nav .nav-item.active > .nav-link .menu-title,
      .sidebar .nav .nav-item.active > .nav-link i {
        color: inherit; }
    .sidebar .nav .nav-item.nav-profile .nav-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: auto; }
      .sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 30px; }
        .sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper .profile-image {
          width: 40px;
          height: 40px; }
          .sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper .profile-image img {
            border-radius: 100%;
            max-width: 100%; }
        .sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper .text-wrapper {
          margin-left: 15px; }
          .rtl .sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper .text-wrapper {
            margin-left: 0;
            margin-right: 15px; }
          .sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper .text-wrapper .profile-name {
            font-weight: 500;
            margin-bottom: 8px; }
          .sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper .text-wrapper .designation {
            margin-right: 3px; }
    .sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-profile) > .nav-link {
      background: #fafbfc;
      color: #4a4a4a; }
    .sidebar .nav.sub-menu {
      margin-bottom: 0;
      padding: 0 0 0 4rem; }
      .sidebar .nav.sub-menu .nav-item .nav-link {
        color: #4a4a4a;
        padding: 0.75rem 1rem;
        font-size: 12px;
        line-height: 1;
        height: auto; }
        .sidebar .nav.sub-menu .nav-item .nav-link.active {
          color: #2196f3;
          background: transparent; }
          .sidebar .nav.sub-menu .nav-item .nav-link.active:before {
            background: #2196f3; }
      .sidebar .nav.sub-menu .nav-item:hover > .nav-link {
        background: initial;
        color: #000; }
        .sidebar .nav.sub-menu .nav-item:hover > .nav-link:before {
          background: #000; }

.sidebar-dark .sidebar {
  background: #252C46; }
  .sidebar-dark .sidebar .nav .nav-item .collapse.show,
  .sidebar-dark .sidebar .nav .nav-item .collapsing {
    background: #2e3657; }
  .sidebar-dark .sidebar .nav .nav-item .nav-link {
    color: #9F9EA3; }
    .sidebar-dark .sidebar .nav .nav-item .nav-link[aria-expanded="true"] {
      background: #2e3657; }
    .sidebar-dark .sidebar .nav .nav-item .nav-link i:not(.btn i) {
      color: #9F9EA3; }
      .sidebar-dark .sidebar .nav .nav-item .nav-link i:not(.btn i).menu-arrow:before {
        color: rgba(159, 158, 163, 0.5); }
    .sidebar-dark .sidebar .nav .nav-item .nav-link:hover {
      color: #929197; }
  .sidebar-dark .sidebar .nav .nav-item.nav-profile .profile-name .name {
    color: #404852; }
  .sidebar-dark .sidebar .nav .nav-item.nav-profile .profile-name .designation {
    color: #8d9498; }
  .sidebar-dark .sidebar .nav .nav-item.nav-profile .notification-panel:before {
    background: #404852; }
  .sidebar-dark .sidebar .nav .nav-item.nav-profile .notification-panel > span {
    background: #2e3657; }
    .sidebar-dark .sidebar .nav .nav-item.nav-profile .notification-panel > span i {
      color: #8ba2b5; }
  .sidebar-dark .sidebar .nav .nav-item.active > .nav-link {
    color: #ffffff; }
  .sidebar-dark .sidebar .nav .nav-item .sidebar-sticker {
    background: #2e3657; }
  .sidebar-dark .sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-profile) > .nav-link {
    background: #2e3657;
    color: #9F9EA3; }
  .sidebar-dark .sidebar .nav.sub-menu .nav-item .nav-link {
    color: #9F9EA3; }
    .sidebar-dark .sidebar .nav.sub-menu .nav-item .nav-link.active {
      color: #ffffff; }
      .sidebar-dark .sidebar .nav.sub-menu .nav-item .nav-link.active:before {
        background: #ffffff; }
  .sidebar-dark .sidebar .nav.sub-menu .nav-item:hover > .nav-link {
    background: initial;
    color: #000; }
    .sidebar-dark .sidebar .nav.sub-menu .nav-item:hover > .nav-link:before {
      background: #000; }

/* style for off-canvas menu*/
@media screen and (max-width: 991px) {
  .sidebar-offcanvas {
    position: fixed;
    max-height: calc(100vh - 63px);
    top: 63px;
    bottom: 0;
    overflow: auto;
    right: -255px;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out; }
    .sidebar-offcanvas.active {
      right: 0; } }

/* Footer */
.footer {
  background: #f3f4fa;
  padding: 20px 1rem;
  transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  border-top: 1px solid #f2f2f2;
  font-size: calc(0.875rem - 0.05rem);
  font-family: "Poppins", sans-serif; }
  .footer a {
    color: #19d895;
    font-size: inherit; }
  @media (max-width: 991px) {
    .footer {
      margin-left: 0;
      width: 100%; } }

.navbar.fixed-top + .page-body-wrapper {
  padding-top: 63px; }

@media (min-width: 992px) {
  .sidebar-mini .navbar .navbar-brand-wrapper {
    width: 185px; }
  .sidebar-mini .navbar .navbar-menu-wrapper {
    width: calc(100% - 185px); }
  .sidebar-mini .sidebar {
    width: 185px; }
    .sidebar-mini .sidebar .nav .nav-item .nav-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      position: relative; }
      .sidebar-mini .sidebar .nav .nav-item .nav-link .menu-title {
        display: inline-block; }
      .sidebar-mini .sidebar .nav .nav-item .nav-link .badge {
        margin-left: 5px;
        display: none; }
      .sidebar-mini .sidebar .nav .nav-item .nav-link img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px; }
      .sidebar-mini .sidebar .nav .nav-item .nav-link .menu-arrow {
        position: absolute;
        right: 7px; }
      .sidebar-mini .sidebar .nav .nav-item .nav-link .menu-icon {
        margin-right: 0; }
    .sidebar-mini .sidebar .nav .nav-item.nav-profile .nav-link {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .sidebar-mini .sidebar .nav .nav-item.nav-profile .nav-link .profile-name {
        display: none; }
    .sidebar-mini .sidebar .nav .nav-item.nav-profile i {
      margin-left: 1rem; }
    .sidebar-mini .sidebar .nav .nav-item .sidebar-sticker {
      display: none; }
  .sidebar-mini .main-panel {
    width: calc(100% - 185px); }
  .sidebar-mini:not(.sidebar-icon-only) .sidebar .nav:not(.sub-menu) > .nav-item {
    border-top: 1px solid rgba(159, 158, 163, 0.2); }
    .sidebar-mini:not(.sidebar-icon-only) .sidebar .nav:not(.sub-menu) > .nav-item.nav-doc, .sidebar-mini:not(.sidebar-icon-only) .sidebar .nav:not(.sub-menu) > .nav-item.nav-profile {
      border-top: 0; }
    .sidebar-mini:not(.sidebar-icon-only) .sidebar .nav:not(.sub-menu) > .nav-item .nav-link {
      height: auto;
      padding: 0.8125rem 1rem 0.8125rem 1rem; }
      .sidebar-mini:not(.sidebar-icon-only) .sidebar .nav:not(.sub-menu) > .nav-item .nav-link i.menu-icon {
        margin-bottom: 0.5rem; }
  .sidebar-mini:not(.sidebar-icon-only) .sidebar .nav.sub-menu {
    padding: 0 0.5rem; }
    .sidebar-mini:not(.sidebar-icon-only) .sidebar .nav.sub-menu .nav-item .nav-link {
      padding: 1rem 0;
      text-align: center; }
      .sidebar-mini:not(.sidebar-icon-only) .sidebar .nav.sub-menu .nav-item .nav-link:before {
        display: none; } }

@media (min-width: 992px) {
  .sidebar-icon-only .navbar .navbar-brand-wrapper {
    width: 70px; }
    .sidebar-icon-only .navbar .navbar-brand-wrapper .brand-logo {
      display: none; }
    .sidebar-icon-only .navbar .navbar-brand-wrapper .brand-logo-mini {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .sidebar-icon-only .navbar .navbar-menu-wrapper {
    width: calc(100% - 70px); }
  .sidebar-icon-only .sidebar {
    width: 70px; }
    .sidebar-icon-only .sidebar .nav {
      overflow: visible; }
      .sidebar-icon-only .sidebar .nav .nav-item {
        position: relative; }
        .sidebar-icon-only .sidebar .nav .nav-item .nav-link {
          display: block;
          text-align: center;
          padding-left: 25px;
          padding-right: 25px; }
          .sidebar-icon-only .sidebar .nav .nav-item .nav-link .badge,
          .sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title {
            display: none; }
          .sidebar-icon-only .sidebar .nav .nav-item .nav-link i.menu-icon {
            margin-right: 0; }
          .sidebar-icon-only .sidebar .nav .nav-item .nav-link i.menu-arrow {
            display: none; }
        .sidebar-icon-only .sidebar .nav .nav-item.nav-profile,
        .sidebar-icon-only .sidebar .nav .nav-item .sidebar-sticker {
          display: none; }
        .sidebar-icon-only .sidebar .nav .nav-item .collapse {
          display: none; }
        .sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          background: #fafbfc;
          color: #4a4a4a;
          padding: 0.5rem 1.25rem;
          left: 70px;
          position: absolute;
          text-align: left;
          top: 0;
          width: 200px;
          z-index: 1;
          height: 52px;
          line-height: 1.8;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px; }
          .sidebar-dark.sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title {
            background: #2e3657;
            color: #9F9EA3; }
          .rtl.sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title {
            left: auto;
            right: 70px;
            text-align: right;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px; }
          .sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title:after {
            display: none; }
        .sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link[data-toggle=collapse] .menu-title {
          border-bottom-right-radius: 0; }
          .rtl.sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link[data-toggle=collapse] .menu-title {
            border-bottom-left-radius: 0; }
        .sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse,
        .sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapsing {
          display: block;
          padding: 0.5rem 0;
          background: #fafbfc;
          color: #4a4a4a;
          position: absolute;
          top: 52px;
          left: 70px;
          width: 200px;
          border-bottom-right-radius: 5px;
          -webkit-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, 0.08);
          box-shadow: 0 1px 15px 1px rgba(113, 106, 202, 0.08); }
          .sidebar-dark.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse, .sidebar-dark.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapsing {
            background: #2e3657;
            color: #9F9EA3; }
          .rtl.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse, .rtl.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapsing {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 5px; }
          .rtl.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse, .rtl.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapsing {
            left: auto;
            right: 70px; }
      .sidebar-icon-only .sidebar .nav.sub-menu {
        padding: 0 0 0 1.5rem; }
        .sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link {
          text-align: left;
          color: #4a4a4a; }
          .sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link:hover {
            color: #cccccc; }
          .sidebar-dark.sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link {
            color: #9F9EA3; }
          .rtl.sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link {
            text-align: right; }
        .sidebar-icon-only .sidebar .nav.sub-menu .nav-item:nth-child(5n+1) .nav-link:before, .sidebar-icon-only .sidebar .nav.sub-menu .nav-item:nth-child(5n+2) .nav-link:before, .sidebar-icon-only .sidebar .nav.sub-menu .nav-item:nth-child(5n+3) .nav-link:before, .sidebar-icon-only .sidebar .nav.sub-menu .nav-item:nth-child(5n+4) .nav-link:before, .sidebar-icon-only .sidebar .nav.sub-menu .nav-item:nth-child(5n+5) .nav-link:before {
          background: #ffffff; }
  .sidebar-icon-only .main-panel {
    width: calc(100% - 70px); } }

@media (min-width: 992px) {
  .sidebar-hidden .sidebar {
    transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -ms-transition: width 0.25s ease;
    width: 0; }
  .sidebar-hidden .main-panel {
    width: 100%; } }

@media (min-width: 992px) {
  .sidebar-absolute .page-body-wrapper {
    position: relative; }
    .sidebar-absolute .page-body-wrapper .sidebar {
      -webkit-transition: none;
      transition: none; }
  .sidebar-absolute:not(.sidebar-hidden) .sidebar {
    position: absolute;
    height: 100%;
    -webkit-box-shadow: 0 0 3px 1px #a7a3a3;
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    /* Firefox 3.5 - 3.6 */
    box-shadow: 0 0 3px 1px #a7a3a3;
    /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }
  .sidebar-absolute .main-panel {
    width: 100%;
    -webkit-transition: none;
    transition: none; } }

@media (min-width: 992px) {
  .sidebar-fixed .sidebar {
    position: fixed;
    max-height: auto; }
    .sidebar-fixed .sidebar .nav {
      max-height: calc(100vh - 63px);
      overflow: auto;
      position: relative; }
      .sidebar-fixed .sidebar .nav.sub-menu {
        max-height: none; }
  .sidebar-fixed .main-panel {
    margin-left: 255px; }
  .sidebar-fixed.sidebar-icon-only .main-panel {
    margin-left: 70px; } }

@media (min-width: 992px) {
  .boxed-layout {
    background: #f3f4f5; }
    .boxed-layout .container-scroller {
      width: 100%;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto; }
    .boxed-layout .navbar {
      width: 100%;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto; } }

.rtl {
  direction: rtl;
  text-align: right; }
  .rtl .sidebar .nav {
    padding-right: 0; }
    .rtl .sidebar .nav .nav-item .nav-link i.menu-icon {
      margin-right: 0;
      margin-left: 0.5em; }
    .rtl .sidebar .nav .nav-item .nav-link i.menu-arrow {
      margin-left: 0;
      margin-right: auto; }
    .rtl .sidebar .nav .nav-item .nav-link .badge {
      margin-left: 0;
      margin-right: auto; }
    .rtl .sidebar .nav.sub-menu {
      padding: 0 3.45rem 0 0; }
  .rtl .product-chart-wrapper::-webkit-scrollbar,
  .rtl .settings-panel .tab-content .tab-pane .scroll-wrapper::-webkit-scrollbar,
  .rtl .sidebar-fixed .nav::-webkit-scrollbar,
  .rtl .table-responsive::-webkit-scrollbar,
  .rtl ul.chats::-webkit-scrollbar {
    width: 0.5em; }
  .rtl .product-chart-wrapper::-webkit-scrollbar-track,
  .rtl .settings-panel .tab-content .tab-pane .scroll-wrapper::-webkit-scrollbar-track,
  .rtl .sidebar-fixed .nav::-webkit-scrollbar-track,
  .rtl .table-responsive::-webkit-scrollbar-track,
  .rtl ul.chats::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  .rtl .product-chart-wrapper::-webkit-scrollbar-thumb,
  .rtl .settings-panel .tab-content .tab-pane .scroll-wrapper::-webkit-scrollbar-thumb,
  .rtl .sidebar-fixed .nav::-webkit-scrollbar-thumb,
  .rtl .table-responsive::-webkit-scrollbar-thumb,
  .rtl ul.chats::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey; }

.page-body-wrapper {
  min-height: calc(100vh - 63px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0; }
  .page-body-wrapper.full-page-wrapper {
    width: 100%;
    min-height: 100vh; }

.main-panel {
  -webkit-transition: width 0.25s ease, margin 0.25s ease;
  transition: width 0.25s ease, margin 0.25s ease;
  width: calc(100% - 255px);
  min-height: calc(100vh - 63px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (max-width: 991px) {
    .main-panel {
      margin-left: 0;
      width: 100%; } }

.content-wrapper {
  background: #f3f4fa;
  padding: 1.5rem 1.7rem;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.container-scroller {
  overflow: hidden; }

.modal .modal-dialog {
  margin-top: calc(63px + 30px); }

/* Full Calendar */
#calendar .fc-header-toolbar {
  background: #ffffff;
  padding: 28px 0 80px;
  margin-bottom: 0; }
  #calendar .fc-header-toolbar .fc-button-group {
    border-radius: 5px; }
    #calendar .fc-header-toolbar .fc-button-group .fc-button {
      -webkit-box-shadow: none;
      box-shadow: none;
      padding: 1px 12px;
      margin-right: 0;
      font-size: 0.9375rem;
      font-weight: 400;
      line-height: 1.33;
      border: none;
      background: #2196f3;
      color: #ffffff;
      text-shadow: none;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s; }
      #calendar .fc-header-toolbar .fc-button-group .fc-button:first-letter {
        text-transform: uppercase; }
      #calendar .fc-header-toolbar .fc-button-group .fc-button.fc-state-active {
        background: #0d8aee;
        color: #ffffff; }
      #calendar .fc-header-toolbar .fc-button-group .fc-button.fc-next-button, #calendar .fc-header-toolbar .fc-button-group .fc-button.fc-prev-button {
        background: #ffffff;
        color: #2196f3;
        margin-right: 7px;
        height: 2.0625rem;
        width: 2.25rem;
        border: none; }
        #calendar .fc-header-toolbar .fc-button-group .fc-button.fc-next-button span, #calendar .fc-header-toolbar .fc-button-group .fc-button.fc-prev-button span {
          top: -3px;
          right: 9px; }
          #calendar .fc-header-toolbar .fc-button-group .fc-button.fc-next-button span:after, #calendar .fc-header-toolbar .fc-button-group .fc-button.fc-prev-button span:after {
            font: normal normal normal 24px/1 "Material Design Icons";
            display: block;
            line-height: 21px; }
      #calendar .fc-header-toolbar .fc-button-group .fc-button.fc-prev-button span:after {
        content: "\F141"; }
      #calendar .fc-header-toolbar .fc-button-group .fc-button.fc-next-button span:after {
        content: "\F142"; }
  #calendar .fc-header-toolbar .fc-today-button {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 1px 12px;
    border-radius: 2px;
    margin-right: 4px;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.33;
    border: none;
    background: #2196f3;
    color: #ffffff;
    text-shadow: none;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; }
    #calendar .fc-header-toolbar .fc-today-button:first-letter {
      text-transform: uppercase; }
  #calendar .fc-header-toolbar .fc-center h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase; }

#calendar .fc-view-container .fc-view {
  background: #f3f4fa; }
  #calendar .fc-view-container .fc-view table thead.fc-head {
    border: none; }
    #calendar .fc-view-container .fc-view table thead.fc-head tr td .fc-widget-header {
      border: none; }
      #calendar .fc-view-container .fc-view table thead.fc-head tr td .fc-widget-header table thead {
        border: none; }
        #calendar .fc-view-container .fc-view table thead.fc-head tr td .fc-widget-header table thead tr th.fc-day-header {
          text-transform: uppercase;
          padding: 0.4375rem 0;
          border-color: #f2f2f2;
          font-size: 0.875rem; }
    #calendar .fc-view-container .fc-view table thead.fc-head tr td.fc-head-container {
      border-color: #f7f7f7;
      border-bottom: none; }
  #calendar .fc-view-container .fc-view table tbody.fc-body {
    background: #ffffff; }
    #calendar .fc-view-container .fc-view table tbody.fc-body tr td.fc-widget-content {
      border-color: #f2f2f2; }
      #calendar .fc-view-container .fc-view table tbody.fc-body tr td.fc-widget-content .fc-day-grid-container .fc-day-grid .fc-row {
        border-color: #f2f2f2; }
        #calendar .fc-view-container .fc-view table tbody.fc-body tr td.fc-widget-content .fc-day-grid-container .fc-day-grid .fc-row .fc-bg table tr td {
          border-color: #f2f2f2; }
        #calendar .fc-view-container .fc-view table tbody.fc-body tr td.fc-widget-content .fc-day-grid-container .fc-day-grid .fc-row .fc-content-skeleton table thead tr td.fc-day-top {
          padding: 8px;
          font-size: 0.875rem;
          font-weight: 600; }
        #calendar .fc-view-container .fc-view table tbody.fc-body tr td.fc-widget-content .fc-day-grid-container .fc-day-grid .fc-row .fc-content-skeleton table tbody tr td.fc-event-container .fc-h-event {
          background: #19d895;
          border: none;
          padding: 6px 12px 6px 22px;
          font-weight: 500;
          color: #ffffff;
          font-size: 12px;
          border-radius: 4px; }
        #calendar .fc-view-container .fc-view table tbody.fc-body tr td.fc-widget-content .fc-day-grid-container .fc-day-grid .fc-row .fc-content-skeleton table tbody tr td.fc-more-cell {
          font-weight: 600;
          color: #252C46;
          padding: 0 7px; }

/*# sourceMappingURL=style.css.map */
